.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

:focus {
  border: none;
  outline: 0 !important;
}

body {
  background-color: #efefef;
  font-family: "Poppins", sans-serif;
  outline: none;
}

nav {
  background-color: #fff;
  margin: 2rem 0 2rem 0;
  height: 7rem;
  box-shadow: 0px 5px 10px 0px #ccc;
  border-top: 1px solid #ccc;

  .title {
    font-size: 30px;
  }
}

/** Search Component **/

.search {
  position: relative;
  color: #ccc;
  font-size: 20px;
  font-weight: 100;
  display: inline;


  input {
    height: 45px;
    background: #fcfcfc;
    border: none;
    border-radius: 10px;
    box-shadow: 0 5px 10px #ccc;
    text-indent: 32px;
    font-size: 15px;

    &::placeholder {
      color: #ccc;
    }

  }

  .fa-search {
    position: absolute;
    top: 13px;
    left: 13px;
    right: auto;
  }
}

/** List items **/

.card-list {
  margin: 0px;
  padding: 0px;
}

.card-content {
  margin: 1rem 1rem;
}

.card-list li {
  padding: 0.2rem 0rem;
  list-style-type: none;
}

.link {
  color: #000;
  text-decoration: none;
}

.link:hover {
  color: #000;
  background-color: rgb(233, 233, 233);
}