.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

:focus {
  border: none;
  outline: 0 !important;
}


/* Theme classes start here */

:root {
  --body_background: #f3f3f3;
  --header_background: #fff;
  --shadow-color: #ccc;
  --body_color: #212121;
  --btn-background: #212121;
}

[data-theme="dark"] {
  --body_background: #414651;
  --header_background: #ccc;
  --shadow-color: rgb(50, 48, 48);
  --body_color: #f3f3f3;
  --btn-background: #f3f3f3;
}

[data-theme="light"] {
  --body_background: #f3f3f3;
  --header_background: #fff;
  --shadow-color: #ccc;
  --body_color: #212121;
  --btn-background: #212121;
}

/* Theme class ends here */

body {
  background-color: var(--body_background);
  font-family: "Poppins", sans-serif;
  outline: none;
  color: var(--body_color);
}

nav {
  background-color: var(--header_background);
  margin: 2rem 0 2rem 0;
  height: 7rem;
  box-shadow: 0px 5px 10px 0px var(--shadow-color);
  border-top: 1px solid var(--shadow-color);

  .title {
    font-size: 30px;
  }
}

.btn {
  background-color: var(--btn-background);
  color: var(--shadow-color);
}

.toggle_container {
  cursor: pointer;

  .light_mode {
    color: #4b4b4b;
  }
}

/** Card Component */
.card {
  width: 18rem;
  margin: 1rem;
  padding: 0px;
  box-shadow: 0px 0px 15px 10px var(--shadow-color);
  display: flex;
  height: 22rem;
  flex-direction: column;
  justify-content: flex-end;
}

/** Country Detail */

.country_list {
  background: var(--body_background);
  color: var(--body_color);
  border: 1px solid var(--shadow-color);
  top: -2px;
  border-radius: 5px;
  position: relative;
  margin: 0.5rem;
}

/** Search Component **/

.search {
  position: relative;
  color: var(--shadow-color);
  font-size: 20px;
  font-weight: 100;
  display: inline;


  input {
    height: 45px;
    background: #fcfcfc;
    border: none;
    border-radius: 10px;
    box-shadow: 0 5px 10px var(--shadow-color);
    text-indent: 32px;
    font-size: 15px;

    &::placeholder {
      color: #ccc;
    }

  }

  .fa-search {
    position: absolute;
    top: 13px;
    left: 13px;
    right: auto;
  }
}

/** List items **/

.card-list {
  margin: 0px;
  padding: 0px;
}

.card-content {
  margin: 1rem 1rem;
}

.card-list li {
  padding: 0.2rem 0rem;
  list-style-type: none;
}

.link {
  color: #000;
  text-decoration: none;
}

.link:hover {
  color: #000;
  background-color: rgb(233, 233, 233);
}